/* Add note */
.modal {
  width: 350px;
  height: 400px;
  margin: 25px auto;
  background-color: #fff;
}

#add-note-button {
  position: fixed;
  bottom: 1em;
  right: 1em;
}

.note-type-button {
  width: 100%;
}

/* Notes page */
#notes {
  margin: 5%;
}

.note {
  margin-bottom: 1%;
  margin-top: 1%;
  padding: 2%;
  background-color: LightGrey;
}

.note-content {
  margin: auto;
}

.note-header {
  font-weight: bold;
}